{% extends "sites/index.html" %}
{% block content %}

<div class="content-wrapper post-container" >
    <div class="post-user-info-bar" style="padding: 16px 10px 8px 16px;text-align: left;">
        <span>
            
        </span>

        <div class="user-text-content">
            <a href="#">
                <div class="user-name clickable" title="mr.robot">
                    <div class="user-post-name">Mr. ROBOT

                    </div>
                </div>
            </a>
            <span>BOT · 24/H</span>
        </div>
        <!--div-- class="more-icon" title="Report this post">

        </!--div-->
    </div>
    <div style="text-align: center;" class="post-title clamp clamp-three-lines" title="Ki mit tud androidon az internal audio -ról?">
        
    </div>
    <div class="content-post">
        <div class="rich-post-content">
            <div class="rich-text block" style="text-align: left;">
                <pre style="white-space: pre-wrap; overflow-wrap: break-word; line-height: 1.5; display: inline-block; width: 100%; font-family: Roboto; color: rgb(255, 255, 255); font-size: 16px;">We're not kidding. You can compare if you'd like. If you've tried other Omlet Arcade Bots, you'll know, they fluctuate a lot, and it's annoying. They typically sell it as "fluctuation looks normal" or "we do it to make it look natural", but we know that's a lie. We know that their Omlet Arcade Bot is just unstable. Our viewbot, though, none of that! We have worked hard to make sure the delivery you ask for is the delivery you get, and especially on smaller Omlet Arcade channels, you'll notice the solid, stable delivery.
                </pre>
            </div>
        </div>
    </div>
    <div class="post-buff-detail-container__post-buff-detail__3_JLw">
        <img style="width: 120px;height: 120px;" src="/static/aw/img/arcade-logo.png" class="high-five-img__post-buff-detail__3XDUJ" role="presentation">
        <p class="text__post-buff-detail__12sUX" style="white-space: pre-wrap;">If you love our bots buy more or share with your friends. If more people buy we grew bigger and you will get super exclusive bots.</p>
    </div>
</div>

{% endblock content %}